@model TodoApp.Models.Tasks

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}

<h2>Delete</h2>


@Html.HiddenFor(i=>i.Id)
Name:@Model.TaskName
Description:@Model.Description
@Html.ActionLink("Delete","Remove","Task",new{id=Model.Id},null)
