@model IEnumerable<TodoApp.Models.Tasks>

@{
    ViewBag.Title = "title";
    //Layout = "_Layout";
}
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
</head>
<h2>Tasks</h2>

<table class="table table-responsive table-active">
    <tr>
        <th>Id</th>
        <th>Task Name</th> 
        <th>Task Description</th>
    </tr>
    <tr>
        @foreach (var t in Model)
        {
            <td>@t.Id</td>
            <td>@t.TaskName</td>
            <td>@t.Description</td>
        }
    </tr>
</table>


